body {
    background-image: url("../content/light.jpeg");
    color: aliceblue;
    background-size: 100%;
}
h1{
    background-image: linear-gradient(to left,cadetblue,dodgerblue,red);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 100px;
}
nav{
    background-image: linear-gradient(to left,darkcyan,dodgerblue,red);
}
.big {
    width: 100%;
    height: 700px;
}
aside{
    font-size: 35px;
}
