body{
    background-image: url("../content/light.jpeg");
    color: aliceblue;
    background-size: 100%;
}
h1{
    background-image: linear-gradient(to left,cadetblue,cornflowerblue,red);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 100px;
}
nav{
    background-image: linear-gradient(to left, lavender,cadetblue,cornflowerblue);
}
main{
    height: 700px;
    padding: 40px;
}